<app-header></app-header>
<header></header>
<main>
	<section>
		<div class="">
			<div class="step">
				<!--				<div class="main-block" *ngIf="pollService.admin_key">-->
				<div class="main-block">
					<div class="columns">
						<div class="column is-narrow">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="3rem"
								height="3rem"
								viewBox="0 0 24 24"
								fill="none"
								stroke="#128149"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="icon is-big feather feather-check-circle marged-right"
							>
								<path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
								<polyline points="22 4 12 14.01 9 11.01"></polyline>
							</svg>
						</div>
						<div class="column">
							<h1 class="title is-1 poll-title success-creation-title is-success">
								{{ 'success.title' | translate }}
							</h1>
							<span class="description">
								{{ 'success.description' | translate: { eventTitle: pollService.form.value.title } }}
							</span>
							<span class="share">
								{{ 'success.share' | translate }}
							</span>
							<div class="copy">
								<label for="public_share_link">
									{{ 'success.link' | translate }}
								</label>
								<div class="columns">
									<div class="column">
										<input
											type="text"
											[value]="pollService.getParticipationUrl()"
											id="public_share_link"
										/>
									</div>
									<div class="column is-narrow">
										<app-copy-text [textToCopy]="pollService.getParticipationUrl()"></app-copy-text>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="rounded-block">
						<h2 class="title is-2 has-text-primary go-see-title">
							{{ 'success.label' | translate }}
						</h2>
						<a class="button is-primary is-fullwidth" routerLink="{{ pollService.getParticipationUrl() }}">
							{{ 'success.action' | translate }}
						</a>
					</div>
				</div>
			</div>
			<!--			cas d'échec de création du sondage-->
			<div class="step" *ngIf="!pollService.admin_key">
				<div class="no-admin-key padded has-background-danger">
					{{ 'success.network_error' | translate }}
				</div>
				<h1 class="title is-1">
					{{ 'success.not_created' | translate }}
				</h1>
				<button class="button is-primary" [routerLink]="['/administration/step/7']">
					{{ 'success.go_back' | translate }}
				</button>
			</div>
		</div>
	</section>
</main>
<footer>
	<app-footer></app-footer>
</footer>
