@import './src/styles/variables';

:host {
	.button,
	a,
	button {
		margin-bottom: 1ch;
		margin-right: 1ch;
	}

	a {
		padding: 1em;
		max-width: 20em;
		@extend .truncate;
	}

	.admin-ok pre,
	.truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.main-block {
		padding-top: 2em;
	}

	.has-background-success {
		background: $logo_color_2 !important;
	}

	.copy {
		margin-top: 2rem;
	}
	.button {
		padding: 0.5rem 1rem;
	}
	.go-see-title {
		font-size: 20px;
		color: $d-primary-intense;
	}
}
