.loading_poll {
	position: fixed;
	bottom: 5em;
	left: 1em;
	z-index: 10;
}

.poll_loaded {
	.description {
		min-height: 2rem;
		margin-bottom: 1rem;
	}
}
.options-button {
	border: 0;
	background: transparent;
}
.vote-button {
	margin-right: 1ch;
	margin-bottom: 1ch;
}
